################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bulky/BulkyWeb/BulkyWeb.csproj
